ul{
  margin:0;
  padding:0;
}

ul li{
    list-style: none;
    height:33.33vh;
    width:100vw;
}

#orange, #white, #green{
  height:100%;
}

#orange{
  background-color: #e67e22;
}

#green{
  background-color: green;
}

#white{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-size: 2px;
  font-family: 'Abril Fatface', cursive;
}
